<a href="https://colab.research.google.com/github/krpraveen0/Python-Bootcamp/blob/main/PythonBootCamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**range** Data Type

It represents a sequence of numbers.
The range data type can be represented in three forms:


1.   Form-1:
            range(n)
            It generates numbers from 0 to (n-1).

In [2]:
#Example:
numbers = range(5)
for num in numbers:
  print(num)

0
1
2
3
4


2.  Form-2:
          range(m, n)
          It generates numbers from m to (n-1)

In [3]:
#form example
numbers = range(100, 200)
for num in numbers:
  print(num)

100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199


3.   Form-3:
          range(m, n, inc)
          It generates numbers from m to (n-1)  incrementing by inc.

In [5]:
#example:
numbers = range(100, 200, 5)# 100, 105, 110, 115................195
for num in numbers:
  print(num)

100
105
110
115
120
125
130
135
140
145
150
155
160
165
170
175
180
185
190
195

**NOte:** The elements present in range Data type are not modifiable, which 
means it is immutable.

Till now we have only generated the range data type now we will try to 
access the elements present in the range Data type but how?????

We can access the elements in a range data type by using the index.

In [13]:
#example:
numbers = range(1, 5)
print(numbers)#1,2,3,4,5
print(numbers[0])
print(numbers[3])

range(1, 5)
1
4

In [12]:
numbers[100]

IndexError: ignored

We cannot access the values which are out of range .

In [15]:
#updating the range data type
numbers[0]
numbers[0] = 101# assignment is not supported for range data type ie it is immutable

TypeError: ignored

We can use range data type for creating lists of values

In [20]:
numbers = range(10)
for num in numbers:
  print(num)
num_list = list(range(10))
print(num_list)

0
1
2
3
4
5
6
7
8
9
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

** set Data Type:**
----------------------

Data type which represents a group of values **without duplicates** where order
is not important is known as **set** Data type.

A data type is called as set type if 


1.   insertion order is not preserved
2.   duplicates are not allowed.
3.   heterogeneous objects are allowed.
4.   It is mutable collection, which means we can change its values.
5.   Growable in nature.
6.   set doesn't support indexing.

In [21]:
#example
#creation of set data type
set1 = {99, 3+7j,78, 56.9, 'ten'} # set is created by using {} curly braces.

In [22]:
#trying to access set1 using its index
set1[3]

TypeError: ignored

In [ ]:
set1[2]

78

In [ ]:
set1[4]

'ten'

set is growable in nature, hence we can increase or decrease the size of set
using the fuctions
1.   add()
2.   remove()

In [ ]:
#example:

**frozenset Data Type**
--------------------------

It is exactly same as set data type except that it is immutable, ie we cannot 
use add() or remove() function over frozenset data type.

In [ ]:
#example
set2 = {100, 45, 'ten', 2.3, 10101}
set2.add(234)
set2

{100, 10101, 2.3, 234, 45, 'ten'}

In [ ]:
fixed_set2 = frozenset(set2)

In [ ]:
fixed_set2.remove(234)

AttributeError: ignored

In [ ]:
fixed_set2.add(10)

AttributeError: ignored

** dict Data type**
--------------------

A data type which is used to represent a group of values as key-value pairs
is known as **dict** data type.

In [ ]:
#example: 
stu_roll = { 101:'oti', 102:'mark', 103:'kery'}
stu_roll

{101: 'oti', 102: 'mark', 103: 'kery'}

We can create an empty dictionary as follows:

In [ ]:
emp = {}

we can also add key-value pairs :

In [ ]:
emp[100] = 'oti'

In [ ]:
emp

{100: 'oti'}

In [ ]:
emp[200] = 'mark'

In [ ]:
emp

{100: 'oti', 200: 'mark'}

In [ ]:
emp

{100: 'oti', 200: 'mark'}

In [ ]:
emp[300] = 'kery'

In [ ]:
emp

{100: 'oti', 200: 'mark', 300: 'kery'}

**Note** 
---------

dict is mutable, which means we can change the values of key,

In [ ]:
emp[100]='asha'
emp

{100: 'asha', 200: 'mark', 300: 'kery'}

In [ ]:
emp['asha'] = 100

In [ ]:
emp

{100: 'asha', 200: 'mark', 300: 'kery', 'asha': 100}

**Note**
---------

** use of different data types **
----------------------------------

    1.  To represent binary information like images, video files etc,
        we use bytes & bytesarray data types
    2.  In python3 we can repesent long value also using int type only.
    3.  In python char data type is not available. We represent char values 
        by str data type only.

** None Data Type**
---------------------

None means Nothing or No values associated.
In some cases if values are not available then to handle such situation 
None type is used.

In [ ]:
#example:
def run():
  name = 'oti'
print(run())

None

**Constants**
-------------

--> The concepts of 'Contstant' is not there in python.
 
*   But to consider something as constent we use a standard convention ie.
    when we don't want to change value then we use only use
    Uppercase characters

In [ ]:
#To show that we don't want to change a particular value  we use only uppercase character
FIXED_PRICE = 45000
print(FIXED_PRICE)

45000

In [ ]:
#Here we can change the values 
FIXED_PRICE = 50000
print(FIXED_PRICE)